.header {
    margin-top: 4rem;
    margin-bottom: 0;
    position: relative;

    h1 {
        color: #3F5386;
    }

    h1, h2, h3, h5 {
        font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    img {
        width: 80px;
        display: block;
        margin: 10px auto;
    }

    .logo {
        font-family: 'Coustard', serif;
        font-size: 3rem;
        color: #23B153;

        a {
            color: #23B153;
            text-decoration: none;
        }
    }

    .navigation .nav-item {
        margin: 0 10px;
        text-decoration: none;
    }

    .desc {
        color: #444;
        font-size: 1.7rem;
        text-align: left;
        letter-spacing: 0;
    }
}

.container {
    margin-bottom: 10rem;
    max-width: 800px;
}

footer {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.inline-list {
  list-style: none;
  margin-left: -1.375rem;
  margin-right: 0;
  margin: 0 auto 1.0625rem auto;
  overflow: hidden;
  padding: 0;
}

.inline-list a {
  text-decoration: none;
}

.inline-list > li {
    display: inline-block;
    list-style: none;
    margin-left: 1.375rem;
}

.inline-list > li > * {
  display: block;
}
