<div class="container">
    <section class="header">
        <div class="row">
            <div class="four columns">
            <div class="logo"><a href="/#">Node Web Starter</a></div>
                <h1 class="desc">
                    ES6
                </h1>
            </div>
            <div class="navigation eight columns">
                <a class="nav-item" href="#/">Home</a>
            </div>
        </div>
    </section>
    <hr />

    <section id="content"></section>

</div>

<footer class="footer">
  <ul class="inline-list">
    <li><a href="#">About Us</a></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">FAQ</a></li>
  </ul>
</footer>
